<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cashin">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <service
            android:name=".Service.MyFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".Activity.peopleInvestmentCheckout" />
        <activity android:name=".Activity.Messages" />
        <activity android:name=".Activity.myReferee" />
        <activity android:name=".setReferee" />
        <activity android:name=".Messages" />
        <activity android:name=".Activity.myInvestments" />
        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.example.cashin.braintree" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.termsCondition" />
        <activity android:name=".Activity.UpdatePage" />
        <activity android:name=".Activity.Withdraw" />
        <activity android:name=".Activity.profilePage" />
        <activity android:name=".Activity.purchaseInvestment" />
        <activity android:name=".Activity.InvestEarn" />
        <activity android:name=".Activity.Entrance_Page" />
        <activity android:name=".Activity.Navigation_Main" />
        <activity android:name=".Activity.Splash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Service.clientServer"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>